body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    padding: 2rem 0;
    background-image: linear-gradient(45deg, rgb(255, 200, 0) 0%, rgb(255, 120, 17) 50%, rgb(69, 33, 64) 100%);
    background-size: 300%;
    animation: Rotate 10s ease infinite;
}

.title {
    padding-bottom: 2rem;
    text-transform: uppercase;
}

#counter {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

#counter>div {
    background: rgb(0, 0, 0,0.7);
    color: white;
    margin-right: 0.5rem;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
}

#counter>div>h4 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
}

#counter>div>span {
    font-size: 1rem;
}

#counter #dec {
    font-size: 1rem;
}

.buttons>button {
    background-color: rgba(255, 230, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 0.1rem;
    border: 2px solid transparent;
    color: black;
    filter: grayscale(0.7);
    text-transform: uppercase;
    font-size: 1rem;
    transition: ease-in-out 0.3s;
}

.buttons>button:hover {
    border: 2px solid black;
    filter: none;
}

.buttons>button:active {
    color: white;
    background-color: rgba(255, 230, 0);
    border: 2px solid white;
    filter: none;
}
footer {
    color:white;
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes Rotate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}